<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encrypted chat room</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>
</head>
<body>
    <div id="page-title">
        <h1 class="title is-size-1">CRIPTOGRAPHICALLY SECURE CHAT</h1> 
    </div>
    <div>
        <div class="box" id="landing">
            <button class="button is-link" id="generate-keys">KEY GENERATION</button>
            <button class="button is-link" id="log-in-user">LOG IN USER WITH PRE-GENERATED KEYS</button>
        </div>
        
        <div class="box" id="create-user-input-boxes" style="display:none;">
            <div class="field">
                <p class="control">
                    <input class="input" type="text" id="new-user-username" placeholder="New Username">
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <input class="input" type="password" id="new-user-password" placeholder="New Password">
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-primary" type="submit" id="create-user">CREATE USER AND GENERATE KEYS</button>
                </p>
            </div>
        </div>
        
        <div class="box" id="login-user-input-boxes" style="display:none;">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Username</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" type="text" id="login-username" placeholder="Username">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Password</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" type="password" id="login-password" placeholder="********">
                        </p>
                    </div>
                </div>
            </div>
            <div id="keyfile-container" class="file has-name is-right is-info">
                <label class="file-label">
                    <input class="file-input" type="file" name="keyfileee" accept=".keyfile"/>
                    <span class="file-cta">
                        <span class="file-label"> Choose a .keyfile file </span>
                    </span>
                    <span class="file-name"></span>
                </label>
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" id="log-in-user-to-chat">LOG INTO CHAT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block" id="chat" style="display:none;">
            <div class="block">
                <ul class="has-background-black" style="overflow-wrap: break-word"  id="chat-messages">
                </ul>
            </div>
            <div class="field has-addons">
                <p class="control is-expanded">
                    <input class="input" type="text" id="message" placeholder="Enter a message">
                </p>
                <p class="control">
                    <button class="button is-info" id="send-message">SEND MESSAGE</button>
                </p>    
            </div>        
        </div>
    </div>
    
    <script>
        const create_user_url = {{ url_for("main.create_user")|tojson }};
        const log_in_user_url = {{ url_for("main.log_in_user")|tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}" type="module"></script>
</body>
</html>